/* slider captions */
#preview_caption .caption-forground {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 5px;
}

#preview_caption .caption-background {
	position: absolute;
	border-radius: 4px;
	top: 0;
  	left: 0;
	height: 100%;
	width: 100%;
	filter: alpha(opacity=60); /* IE */
	-moz-opacity: 0.6; /* Mozilla */
	opacity: 0.6;
}

#preview_caption a {
	color: #ffffff;
	text-decoration: underline;
}

#preview_caption .caption-forground p {
	font-size: inherit;
}
/* Slider meta box content */
.slider-options-panel div.row {
	font-size: 14px;
}
.slider-options-panel div.row div.col-label {
	float: left;
	font-weight: 500;
    line-height: 1.3;
    padding: 10px 10px 10px 0;
    text-align: left;
    vertical-align: top;
    width: 200px;
}
.slider-options-panel div.row div.col-label label {
	color: #23282d;
	text-shadow: none;
}
.slider-options-panel div.row div.col-value {
	line-height: 1.3;
    margin-bottom: 9px;
    padding: 10px 10px;
    vertical-align: middle;
}
.slider-options-panel input[type="text"], .slider-options-panel input[type="number"], .slider-options-panel input[type="email"], .slider-options-panel input[type="password"], .slider-options-panel select, .slider-options-panel textarea {
	width: 25%;
}
/* =Media Queries
-------------------------------------------------------------- */
@media screen and ( max-width: 768px ) {
	.slider-options-panel input[type="text"], .slider-options-panel input[type="number"], .slider-options-panel input[type="email"], .slider-options-panel input[type="password"], .slider-options-panel select, .slider-options-panel textarea {
		width: 80%;
	}
}
